[Unit]
Description=A weather logger on SSB
After=network.target ssb.service
 
[Service]
ExecStart=/bin/bash -c 'PATH="$PATH:/opt/node/bin"; node src/index.js'
ExecStop=/bin/kill -TERM ${MAINPID}
WorkingDirectory=/home/pi/WeatherStation
Restart=always
User=pi
Group=pi
 
[Install]
WantedBy=multi-user.target